<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Japanese Number Quiz</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body
    class="flex justify-center items-center min-h-screen bg-base-300 font-sans"
  >
    <div class="card bg-base-100 w-96 shadow-sm">
      <div class="card-body">
        <h2 class="card-title text-3xl font-bold text-primary">
          Japanese Number Quiz
        </h2>
        <!-- Display feedback message if available from the backend -->
        {% if feedback_message %}
        <div
          role="alert"
          class="alert alert-{{ feedback_class }} alert-soft my-3"
        >
          <span>{{ feedback_message }}</span>
        </div>
        {% endif %}

        <div class="font-bold text-lg mb-8" id="japaneseNumber">
          {{ question }}
        </div>
        <form
          action="/"
          method="post"
          class="w-full max-w-xs flex flex-col items-center"
        >
          <input
            type="text"
            name="user_answer"
            placeholder="Enter your answer (e.g., 123)"
            class="input mb-2"
            required
            autofocus
          />
          <input type="hidden" name="correct_answer" value="{{ answer }}" />
          <div class="w-full flex gap-2 justify-center">
            <button class="btn btn-primary">Check Answer</button>
            <a href="/" class="btn btn-neutral">New Question</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
